.tarjeta-favorito {
    display: flex;
    gap: 20px;
    background-color: #1a1a1a;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

    .tarjeta-favorito img {
        width: 200px;
        border-radius: 8px;
    }

    .tarjeta-favorito .info {
        flex: 1;
    }

    .tarjeta-favorito h2 {
        margin-top: 0;
    }

.sinopsis {
    margin-top: 10px;
    font-size: 14px;
    color: #ccc;
}

.acciones {
    margin-top: 15px;
}

.btn-ver,
.btn-eliminar {
    padding: 8px 14px;
    margin-right: 10px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.btn-ver {
    background-color: #00bcd4;
    color: black;
}

.btn-eliminar {
    background-color: #e53935;
    color: white;
}
